@import "tailwindcss";

html{
    box-sizing: border-box;
  }
  
  
  *::before ,*::after,* {
  box-sizing: inherit;
  }

  /* #mid::-webkit-scrollbar{
    display: none;
  }
.scrollbar-hide {
  -ms-overflow-style: none; 
  scrollbar-width: none;     
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;  
} */

.scroll::-webkit-scrollbar {
  display: none;
}
.pop::-webkit-scrollbar {
  display: none;
}


